{% extends 'base.html' %}
{% block content %}
<main class="container">
   <div class="row">
      <div class="col-md-6 offset-md-3">
         <h1 class="text-center display-3 py-5">Companias</h1>
         <ul class="list-group">
            {% for company in companias %}
            <li class="list-group-item">
               <a href="{% url 'compania_detalle' company.id %}">
                  <header class="d-flex justify-content-between">
                     <h1 class="fw-bold text">{{company.nombre_compania}}</h1>
                  </header>                 
               </a> 
            </li>
            {% endfor %}
         </ul>   
      </div>
   </div>
   <br>
   <div class="text-center">
      <form action="{% url 'crear_compania' %}">
         <button class="btn btn-primary">
            Nueva Compania
         </button>
      </form>   
   </div>
</main>        
{% endblock %}