{% extends 'base.html' %}
{% block content %}
<main class="container">
   <div class="row">
      <div class="col-md-6 offset-md-3">
         <h1 class="text-center display-3 py-5">Generos</h1>
         <ul class="list-group">
            {% for gender in generos %}
            <li class="list-group-item">
               <a href="{% url 'genero_detalle' gender.id %}">
                  <header class="d-flex justify-content-between">
                     <h1 class="fw-bold text">{{gender.nombre_genero}}</h1>
                  </header>                 
               </a> 
            </li>
            {% endfor %}
         </ul>   
         </div>
   </div>
   <br>
   <div class="text-center">
      <form action="{% url 'crear_genero' %}">
         <button class="btn btn-primary">
            Nuevo Genero
         </button>
      </form>   
   </div>
</main>
{% endblock %}