{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Home</h1>
        <p>¡¡¡Bienvenidos a ActionGames!!! <br>Mi primer sitio WEB hecho con django.En este sitio tendras la posibilidad de dar de alta,midificar o eliminar juegos al catalogo.Tambien podras dar de alta,actualizar o borrar Categorias,Plataformas y Generos a los que luego podas asociar los juegos cargados al catalogo.<br>Dichas Acciones solo las podran realizar usuarios registrados en este sitio.Espero que tu visita por esta WEB sea de tu agrado.<br>Buenos días,Buenas tardes y Buenas noches. </p>
</section>    
</main>
{% endblock %}