{% extends 'base.html' %}
{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            {{error}}
            
            <form method="POST">
                <h1 class="text-secondary">{{juegos.titulo}}</h1>
                {% csrf_token %}
                {{form}}
                <br>
                <button class="btn btn-primary">
                Actualizar
                </button>
            </form>
            <div class=" mt-3 d-flex">
                <form action="{% url 'delete_juego' juegos.id %}" method="POST">
                    {% csrf_token %}
                    <button  class="btn btn-danger">
                        Eliminar
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}