{% extends 'base.html' %}
{% block content %}
<main class="container">
   <div class="row">
      <div class="col-md-6 offset-md-3">
         <h1 class="text-center display-3 py-5">Juegos</h1>
         <ul class="list-group">
            {% for juego in juegos %}
            <li class="list-group-item">
               <a href="{% url 'juego_detalle' juego.id %}">
                  <header class="d-flex justify-content-between">
                     <h1 class="fw-bold text">{{juego.titulo}}</h1>
                     <p>{{juego.plataforma}}</p>
                  </header>  
                  <div  class="row col-md-6 offset-md-3">
                     <img  class="img-fluid" src="{{juego.foto.url}}" alt="Foto">
                  </div>               
               </a> 
            </li>
            {% endfor %}
         </ul>   
         </div>
   </div>
   <br>
   <div class="text-center">
      <form action="{% url 'crear_juegos' %}">
         <button class="btn btn-primary">
            Nuevo Juego
         </button>
      </form>   
   </div>
</main>
{% endblock %}